*.pyc
_pycache_/
data/
.DS_Store
data/*
dataset/*
*.zip

venv/
data/
src/zone_sacha/
src/__pycache__/

.coverage
app.log
.env
__pycache__/
data/
.DS_Store
data/*
*.zip

venv/
data/
data/dataset/PP_users.csv
data/dataset/interactions_train.csv
printDataSet.ipynb
data/dataset/PP_recipes.csv
data/dataset/RAW_recipes.csv
data/dataset/RAW_interactions.csv
.git/lfs/objects/*

_pycache_/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.lock
*.ipynb_checkpoints


.gitattributes
pytest-of-paul

.gitattributes
.gitignore
.idea/.gitignore
.idea/TP.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
Oriente objet idees.ipynb

recipe_analysis.log
