*.pyc
_pycache_/
data/
.DS_Store
data/*
dataset/*
*.zip

venv/
data/
zone_sacha/

.coverage
app.log

data/dataset/PP_users.csv
data/dataset/interactions_train.csv
printDataSet.ipynb
data/dataset/PP_recipes.csv
data/dataset/RAW_recipes.csv
data/dataset/RAW_interactions.csv
.git/lfs/objects/*

_pycache_/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.lock


.gitattributes
.idea/.gitignore
.idea/TP.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
Oriente objet idees.ipynb

recipe_analysis.log