.metric-container {
    background-color: #f0f2f6;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.metric-container:hover {
    transform: scale(1.02);
}

.metric-label {
    color: #555;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
    /* Augmentation de la taille de police */
    text-transform: uppercase;
    /* Optionnel: mise en majuscules */
}

.metric-value {
    font-size: 24px;
    color: #1e3a8a;
    font-weight: bold;
}

.metric-delta {
    font-size: 16px;
    
}

.positive-delta {
    color: green;
}

.negative-delta {
    color: red;
}
.stTabs [data-baseweb="tab-list"] {
    background-color: #f0f2f6;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stTabs [data-baseweb="tab"] {
    border-radius: 8px;
    transition: all 0.3s ease;
    color: #4a4a4a;
    font-weight: 500;
    margin: 0 5px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stTabs [data-baseweb="tab"] svg {
    width: 20px;
    height: 20px;
}

.stTabs [data-baseweb="tab"]:hover {
    background-color: rgba(100, 100, 100, 0.1);
}

.stTabs [data-baseweb="tab"][aria-selected="true"] {
    background-color: white;
    color: #1c1c1c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stTabs>div {
    margin-top: 15px;
}
.stSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.reportview-container .main .block-container {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

/* Réduction de l'espace dans les blocs verticaux */
[data-testid="stVerticalBlock"] {
    padding-top: 0rem;
    margin-top: -10px;
}

/* Réduction de l'espace entre les éléments */
[data-testid="stBlockContainer"] {
    margin-top: -10px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* Réduction de l'espace des tabs */
.stTabs>div {
    gap: 0;
}

/* Enlever les marges supplémentaires des titres */
.stMarkdown h1,
.stMarkdown h2,
.stMarkdown h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Ajustement général pour réduire l'espace */
.stApp {
    max-width: 100%;
    padding: 0;
}