sphinx==5.3.0               # Version de Sphinx
sphinx-rtd-theme==1.2.0     # Thème "Read the Docs"
streamlit==1.38.0
matplotlib==3.9.2
pandas==2.2.3
scikit-learn==1.5.2
ipykernel==6.29.5
python-dotenv==1.0.1
autopep8==2.3.1
pep8==1.7.1
seaborn==0.13.2
sqlalchemy==2.0.35
tqdm==4.66.5
sqlalchemy-utils==0.41.2
gdown==5.2.0
googledriver==0.1.7
plotly==5.24.1
kagglehub==0.3.3
pygwalker==0.4.9.13
pyqt6==6.7.1
matplotlib-venn==1.1.1
wordcloud==1.9.4
streamlit-echarts==0.4.0
pytest==8.3.3
openpyxl==3.1.5
pymongo[srv]==4.10.1
surprise==0.1
pytest-mock==3.14.0
mongomock==4.3.0
streamlit-aggrid==1.0.5
sphinx==8.1.3
sphinx-rtd-theme==3.0.2

# Development dependencies
pytest-cov==6.0.0
coverage==7.6.8
pydocstyle==6.3.0
black==24.10.0